* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: rgb(244, 240, 236);
    scroll-snap-align: start;

}


.slide img {
    width: 350px;
}


.slide h2 {
    font-size: 70px;
    font-weight: 600px;
    max-width: 650px;

}


.slide1 {
    background: linear-gradient(454deg, rgba(245, 9, 44, 0.533), #89f966, #2de7eb);
}

.slide2 {
    background: linear-gradient(556deg, #f6a70a, #26df3e, rgb(149, 54, 244));

}

.slide3 {
    background: linear-gradient(556deg, #0a0ee6c8, #6eeff8, rgb(224, 13, 105));
}

.slide4 {
    background: linear-gradient(556deg, #21eb46c8, #137e85, rgb(199, 235, 16));
}

.slide4 h3 {
    font-size: 50px;
    font-weight: 60px;
    max-width: 750px;


    align-items: center;
    justify-content: center;


}


/* image decorate */
/* /* .pic { */
/* filter: brightness(50px);
border-radius: 50% 10% 50% 10%;
content: "";
animation: spin 2s linear infinite;
z-index: 1; */



.pic1 {
    background: linear-gradient(#db9a17, #ad1c1c) padding-box,
        linear-gradient(45deg, #8f0de6, #17d440) border-box;
    border-radius: 50% 10% 50% 10%;
    border: 4px solid transparent;

}



.pic2 {
    background: linear-gradient(#db9a17, #ad1c1c) padding-box,
        linear-gradient(45deg, #0acd3e, #f20a0a) border-box;
    border-radius: 10% 50% 10% 50%;
    border: 4px solid transparent;

}


.pic3 {
    background: linear-gradient(#db9a17, #ad1c1c) padding-box,
        linear-gradient(45deg, #30f10a, #ff06f3) border-box;
    border-radius: 50% 10% 50% 10%;
    border: 4px solid transparent;

}